*{
    margin: 0;
    padding: 0;
}

@keyframes move {
    0% {
        left: 100vw;

    }

    100% {
        left: -40vw;
    }
}

.waterMain{
    background-color: red;
    background-image: url(water_Image.gif);
    background-size: cover;
    height: 100vh;
    

}

.sky{
    background-size: contain;
    /* border: 2px solid red; */
    width: 700px;
    position: relative;
        top: -50px ;
        left: 2px ;
        animation: move 20s linear infinite;
        /* overflow: hidden; */
}

/*  Second cloud ----- */

@keyframes moveTwo {
    0% {
        left: 100vw;

    }

    100% {
        left: -40vw;
    }
}


.sky2{
    background-size: contain;
    /* border: 2px solid green; */
    width: 500px;
    height: 350px;
    position: relative;
        top: -60px ;
        left: 2px ;
        animation: moveTwo 25s linear infinite;
        /* overflow: hidden; */
}


/* Crocodile --------- */

@keyframes crocodile {
    0% {
        left: -10vw;

    }

    100% {
        left: 100vw;
    }
}



.crocoLunch{
    background: url(croLunch.gif);
    z-index: 1;
    background-repeat: no-repeat;
    height: 180px;
    position: relative;
    top: -160px;
    width: 300px;
    animation: crocodile 9s linear infinite;

}

@keyframes crocodileLunch {
    0% {
        left: 100vw;

    }

    100% {
        left: -40vw;
    }
}


.crocoLunchRotate{
    background: url(croLunch_rotate.gif);
    z-index: 2;
    /* border: 2px solid red; */
    background-repeat: no-repeat;
    height: 190px;
    width: 300px ;
    position: relative;
    top: -20px;
    left: 2px;
    animation: crocodileLunch 9s linear infinite;
}


/*  Stack animation ------ */

@keyframes dieFirst {
    0% {
        top: 0vh;

    }

    100% {
        top: 100vh;
    }
}


.drownDuck{
    background: url(duckDrown.gif);
    position: absolute;
    /* z-index: 3; */
    top: 40px;
    left: 20px ;
   
    /* animation: dieFirst 2s ease-in;  */
}

